#include "resource.h"
#include <winresrc.h>

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PREFERENCES DIALOGEX 0, 0, 332, 288
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg 2", 400, 0, 0x0
BEGIN
    AUTOCHECKBOX    "Enable submission", IDC_CHECK_ENABLED, 4, 4, 180, 10
    GROUPBOX        "ListenBrainz API", IDC_STATIC, 4, 18, 260, 58
    EDITTEXT        IDC_EDIT_USER_TOKEN, 50, 32, 205, 14, ES_AUTOHSCROLL | ES_PASSWORD
    EDITTEXT        IDC_EDIT_API_URL, 50, 55, 205, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX    "For multi-value ARTIST tags, send first value only", IDC_CHECK_ARTIST_FIRST, 7, 87, 180, 10
    AUTOCHECKBOX    "Submit Media Library tracks only", IDC_CHECK_LIBRARY, 7, 103, 180, 10
    AUTOCHECKBOX    "Submit version details of foobar2000 and the ListenBrainz component", IDC_CHECK_CLIENT_DETAILS, 7, 119, 240, 10
    AUTOCHECKBOX    "Skip submitting these tracks:", IDC_CHECK_SKIP, 7, 135, 180, 10
    GROUPBOX        "Query", IDC_STATIC, 7, 149, 220, 34
    EDITTEXT        IDC_EDIT_QUERY, 19, 163, 200, 14, ES_AUTOHSCROLL
    LTEXT           "User Token:", IDC_STATIC, 8, 35, 40, 8, SS_LEFT
    LTEXT           "API URL:", IDC_STATIC, 19, 57, 30, 8, SS_LEFT
END


#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
