#include "resource.h"
#include <winresrc.h>

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PREFERENCES DIALOGEX 0, 0, 332, 288
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg 2", 400, 0, 0x0
BEGIN
    AUTOCHECKBOX    "Enable", IDC_CHECK_ENABLED, 4, 4, 180, 10
    GROUPBOX        "User token", IDC_STATIC, 4, 18, 220, 34
    EDITTEXT        IDC_EDIT_USER_TOKEN, 16, 32, 200, 14, ES_PASSWORD | ES_AUTOHSCROLL
    AUTOCHECKBOX    "For multi-value ARTIST tags, send first value only", IDC_CHECK_ARTIST_FIRST, 4, 56, 180, 10
    AUTOCHECKBOX    "Submit Media Library tracks only", IDC_CHECK_LIBRARY, 4, 72, 180, 10
    AUTOCHECKBOX    "Skip submitting these tracks:", IDC_CHECK_SKIP, 4, 88, 180, 10
    GROUPBOX        "Query", IDC_STATIC, 4, 102, 220, 34
    EDITTEXT        IDC_EDIT_QUERY, 16, 116, 200, 14, ES_AUTOHSCROLL
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
